@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&display=swap');

body {
  background-color: #131417;
  margin: 0;
  font-family: sans-serif;
}

canvas {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: 100%;
  /* max-width: 960px; */
  z-index: -1;
  position: absolute;
  top: 0;
  
}

#thee-js {
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  text-align: center;
  margin: 48px 0;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  /* min-height: 100vh; */
}

.navbar-wrapper {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basic-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)) ;
}

.web-dev {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(240px, 960px);
}

.web-dev > .title > a > img {
  width: 100%;
}

form {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  display: grid;
}

.title > a {
  padding-bottom: 5px;
  color: white;
  text-decoration: none;
}

.title > img {

  object-fit: cover;
  width: 100%;
  max-height: 100%;
}


#name {  
  width: 100%;
  max-width: 960px;
  border-color: #5a5f73;
  padding: 5px 0 5px;
  margin-bottom: 5px;
  border: 0;
}

#email { 
  width: 100%;
  max-width: 960px;
  border-color: #5a5f73;
  padding: 5px 0 5px;
  margin-bottom: 5px;
  border: 0;
}

#message {
  width: 100%;
  max-width: 960px;
  border-width: 2px;
  border-style: inset;
  border-color: #5a5f73;
  padding: 5px 0 5px;
  border: 0;
}

::placeholder {
  padding-left: 5px;
  font-family: Arial;
}

#rc-acnchor-container {
  width: 100%;
}

#button-wrapper {
  padding: 0;
}

.send-button {
  color: black;
  border-radius: 3px;
  background-color:  #5a5f73;
  padding: 5px;
}

.send-button:hover {
  cursor: pointer;
  /* color: white; */
  transition: 1s;
  padding: 5px;
}

.basic-grid > img{
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.basic-grid > .card > iframe {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}

.three-d-art > .card > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.three-d-art {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.game-dev {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 1rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  /* transition: all 500ms; */
  overflow: hidden;
  /* padding: 5px; */
}

h1 {
  font-size: 1.1em;
  margin-top: 70px;
  color: white;
  text-align: center;
}

a {
  color: #5a5f73;
  text-decoration: none;
}

label {
  color: #5a5f73;
}

img {
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #5a5f73;
}

#index-footer {
 position: absolute;
 bottom: 0;
 width: 100%;

}

p {
  text-align: left;
  color: #5a5f73;
}

/* ------------------------Navbars--------------------- */
#horizontal-links {
  display: none;
}

#my-name {
  color: whitesmoke;
  font-size: 1.7em;
  font-family: 'Pacifico', cursive;
  font-family: 'Caveat', cursive;
}

.topnav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color:#1e1f26;
  height: 48px
}

@media only screen and (min-width: 960px) {

  #horizontal-links {
   
    
    display: block;
  }

  #horizontal-links > a {
    text-decoration: none;
    /* margin-top: 8px; */
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #horizontal-links > a:hover {
    transition: 1s;
    color:  white;
  }

  #horizontal-links {
    display: flex;
    justify-content: center;
  }

  
  .topnav .icon  {
    display: none;
  }

  #myLinks > a {
    display: none;
  }
  
}

#myLinks {
  background-color: #1e1f26;
  display: none;
  position: fixed;
  padding: 10px;
  width: 100%;
  left: calc(100% - 180px);
  top: 48px;
}

.about-fancy-font {
  font-size: 1.5em;
  /* color: whitesmoke; */
  font-family: 'Pacifico', cursive;
  font-family: 'Caveat', cursive;
}

#myLinks > a {
  display: block;
  padding: 10px 5px;
  text-decoration: none;
}

#myLinks > a:hover {
  transition: 1s;
  color: white;
}

.active {
  background-color: #1e1f26;
  color: white;
}

li {
  list-style: none;
}

/*--------------footer------------*/
footer {
  height: 48px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color:  #4CAF50; */
  /* padding: 14px 16px; */
}

footer > a {
  margin: 0 15px;
  
}

.fab {
  font-size: 2.5em;
}

.fa-bars {
  font-size: 1.9em;
}

.fa-times {
  font-size: 1.9em;
}

#cross {
  display: none;
}

.fab:hover {
  color: white;
  transition: 1s;
}

